@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Roboto:wght@100;400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.slick-dots li button:before {
    color: gray !important; /* Change this to your desired color */
  }
  
  .slick-dots li.slick-active button:before {
    color: gray !important; /* Change this to your desired active dot color */
  }

  @keyframes floatUp {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .animate-floatUp {
    animation: floatUp 0.7s ease-out forwards;
  }